<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TripTales: Crafting Your Ultimate Travel Plan</title>
  </head>
  <body>
    <!-- Form -->
    <h1>Plan Your Next Adventure: Destination & Departure Date</h1>
    <img src="../public/images/logo.jpg"/>
    <form onsubmit="return Client.handleSubmit(event)">
      <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city" />
        <div id="city-error" style="color: red"></div>
      </div>
      <div>
        <label for="date">Departure Date</label>
        <input type="date" name="date" id="date" />
        <div id="date-error" style="color: red"></div>
      </div>
      <button>Submit</button>
    </form>
    <!-- Output -->
    <div class="flight-data" style="display: none">
      <h2 id="Rdays"></h2>
      <p class="cityName"></p>
      <p class="temp"></p>
      <p class="max-temp"></p>
      <p class="min-temp"></p>
      <p class="weather"></p>
      <div class="cityPic"></div>
    </div>
    <!-- Bundle JS -->
    <script src="../../../dist/bundle.js"></script>
  </body>
</html>
